
#gallery-earth {

  position: relative;

  background-color: black;

  .we-pp-content {
      text-align: center;
  }

  a.thumb {
      display: block;
      width: 300px;
      height:168px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 16px 0px;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
  }

  a.thumb:hover {
      transform: scale(0.995);
      box-shadow: 3.5px 3.5px 4px rgba(0,0,0,0.4);
  }

  a.thumb:active {
      transform: scale(0.98);
      box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  }

  .we-pm-icon {
      cursor: pointer;
  }

  .we-pp {
      pointer-events: none;
  }

  .we-pp .we-pp-content, .we-pp a {
      pointer-events: all;
  }

  #earth_div {
    position: fixed;
    height: 100%;
    width: 100%;

    .webglearth2 {
      height: 100%;
      width: 100%;
      padding: 55px 2px 2px 0px;
    }
  }



}

.thumbs-left #gallery-earth #earth_div {
  padding-right: 265px;
}
.thumbs-bottom #gallery-earth #earth_div {
  padding-bottom: 142px;
  .webglearth2 {
    padding: 52px 0px 2px 0px;
  }
}
