#gallery-thumbs {
  position: relative;
  height: 100%;
  //  z-index: 1000;
  #segments {
    transition-property: top;
    transition-duration: 0.5s;

    position: fixed;
    top: 55px;
    left: 0;
    bottom: 2px;
    z-index: 1001;


    padding-right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 57px;
    text-align: center;

    .segments {
      text-align: center;
      width: 100%;
      overflow-y: auto;
      height: 100%;
      //  padding-bottom: 104px;
    }

    picture {
      width: 192px;
      height: 120px;

      .thumb {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 192px;
        height: 120px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
      }

      .thumb:hover {
        transform: scale(0.995);
        box-shadow: 3.5px 3.5px 4px rgba(0,0,0,0.4);
      }

      .thumb:active {
        transform: scale(0.98);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
      }
      .thumb.selected {
        border: 4px solid yellow;
      }

    }

    .segment-details .thumb {
      margin: auto;
    }

    a {
      width: 192px;
      height: 140px;

      .date {
        background-color: black;
        color: white;
      }
      margin-bottom: 4px;
    }


  }


}

.navbar-hidden #gallery-thumbs #segments {
  top: 0px;
  padding-bottom: 2px;
}


.thumbs-handle {
  display: none;
  position: absolute;
  width: 4em;
  text-align: center;
  z-index: 99999999;
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
}

.thumbs-left,
.thumbs-bottom {

  #gallery-thumbs {
    display: none;
  }

}

@media screen and (min-height: 768px) {
  .thumbs-bottom #gallery-thumbs {
    display: block;

    .mCSB_outside + .mCSB_scrollTools{bottom: -6px;} /* scrollbar position: outside */

    #segments {
      height: auto;
      width: 100%;
      left: 0;
      margin: 0;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0 2px 0 2px;
      top: auto;

      .segments {
        height: 140px;
      }

      a {
        margin-bottom: 0;
      }


    }
  }

  .thumbs-bottom .thumbs-handle {
    transition-property: margin-top;
    transition-duration: 0.5s;
    display: block;
    left: 50%;
    transform: none;
  //  transform: translateX(-2em);
    border: 1px solid #d4d4d4;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    bottom: 144px;
  }

  .thumbs-hidden .thumbs-bottom #gallery-thumbs #segments {
    bottom: -144px;
  }

}

.thumbs-left .navbar-hidden {
  .thumbs-handle {
    margin-top: -26px;
  }
}

.thumbs-hidden {

// no animation, just hide
  #gallery-thumbs #segments {
    visibility: hidden;
  }

  .thumbs-left {
    #gallery-thumbs #segments {
      left: -200px;
    }
    .thumbs-handle {
      left: 0px;
    }
  }
  .thumbs-bottom {
    .thumbs-handle {
      bottom: 0px;
    }

  }
}

@media screen and (min-width: 768px) {
  .thumbs-left {
    #gallery-thumbs {
      display: block;
      .mCSB_inside > .mCSB_container { margin-right: 0; }
      .mCSB_outside + .mCSB_scrollTools{right: -6px;} /* scrollbar position: outside */

      #segments {
        width: 200px;

        .segments {
          //    position: relative;
          text-align: center;
          width: 200px;
          height: 100%;
          padding-top: 0px;
        }
      }
    }
    .thumbs-handle {
      transition-property: margin-top;
      transition-duration: 0.5s;
      display: block;
      top: 50%;
      transform: none;
      transform: translateX(-1.3em) rotateZ(90deg) translateX(-2em);
      border: 1px solid #d4d4d4;
      border-left: 0px;
      border-radius: 4px 4px 0px 0px;
    }
  }
}
