#gallery-thumbs {
  position: relative;
  height: 100%;
//  z-index: 1000;

  #segments {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 2px;
    z-index: 1001;


    padding-right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 57px;
    text-align: center;

    .segments {
      text-align: center;
      width: 100%;
      overflow-y: auto;
      height: 100%;
    //  padding-bottom: 104px;
    }

    picture {
      width: 192px;
      height: 120px;

      .thumb {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 192px;
        height: 120px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
      }

      .thumb:hover {
          transform: scale(0.995);
          box-shadow: 3.5px 3.5px 4px rgba(0,0,0,0.4);
      }

      .thumb:active {
          transform: scale(0.98);
          box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
      }
      .thumb.selected {
        border: 4px solid yellow;
      }

    }

    .segment-details .thumb {
      margin: auto;
    }

    a {
      width: 192px;
      height: 140px;

      .date {
        background-color: black;
        color: white;
      }
      margin-bottom: 4px;
    }


  }
}

.thumbs-bottom #gallery-thumbs {

  .mCSB_outside + .mCSB_scrollTools{bottom: -6px;} /* scrollbar position: outside */

  #segments {
    height: auto;
    width: 100%;
    left: 0;
    margin: 0;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 2px 0 2px;
    top: auto;

    .segments {
      height: 140px;
    }

    a {
      margin-bottom: 0;
    }


  }
}

.thumbs-left #gallery-thumbs {
  .mCSB_inside > .mCSB_container { margin-right: 0; }
  .mCSB_outside + .mCSB_scrollTools{right: -6px;} /* scrollbar position: outside */

  #segments {
    width: 200px;

    .segments {
  //    position: relative;
      text-align: center;
      width: 200px;
      height: 100%;
      padding-top: 0px;
    }
  }
}
