
#gallery-earth {

  position: relative;
  background-color: black;
  height: 100%;

  .we-pp-content {
      text-align: center;
  }

  .we-pm-icon {
      cursor: pointer;
  }

  .we-pp {
      pointer-events: none;
  }

  .we-pp .we-pp-content, .we-pp a {
      pointer-events: all;
  }

  #earth_div {
    position:fixed;
    height: 100%;
    width: 100%;
    top: -55px;

    .webglearth2 {
      position: relative;
      height: 100%;
      width: 100%;
      margin-top: 55px;
      padding: 55px 2px 2px 0px;
    }
  }



}

.thumbs-left #gallery-earth #earth_div {
  padding-right: 265px;
}
.thumbs-bottom #gallery-earth #earth_div {
  padding-bottom: 142px;
  .webglearth2 {
    padding: 52px 0px 2px 0px;
  }
}
