[ui-view=gallery-map] {
  z-index: 1;
}

#gallery-map {
  position: relative;
  height: 100%;

  .map-container {
    position: fixed;
    top: 55px;
    width: 100%;
    bottom: 2px;
    z-index: 1;
  }

}

.thumbs-left #gallery-map {
  .map-container {
    padding-right: 202px;
  }
}


.thumbs-bottom #gallery-map {
  .map-container {
    padding-bottom: 142px;
    top: 52px;
  }
}
