*
{
    margin:0;
    padding:0;
}

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "flag-icon-css/sass/_flag-icon.scss";
// endbower

#main.thumbs-left {
  padding-left: 200px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow: hidden;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar-default .navbar-brand {
  margin: -5px;
}

.view {
  margin-top: 64px;
  margin-bottom: 0px;
}

.navbar {
  transition-property: top;
  transition-duration: 0.5s;
}

.navbar-hidden {
  .view {
    margin-top: 12px;
  }

  .navbar {
    top: -52px;
  }

  .header {
    height: 16px;
  }

}

/* Everything but the jumbotron gets side spacing for mobile first views */
div.header,
.marketing,
div.footer {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100000;
}

/* Custom page header */
div.header {
  position: fixed;
  width: 100%;
  height: 55px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

body > div.container > div.ng-scope {
  margin-top: 80px;
  z-index: -1;
}

body.navbar-hidden > div.container > div.ng-scope {
  margin-top: 28px;
}

/* NavBar links cursor */
.nav > li > a {
  cursor: pointer;
}

/* Space after fa icon */
.nav > li > a > span {
    margin-left: 0.3em;
}

/* Custom page footer */
div.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(white,0);
  color: #777;
  pointer-events: none;
  font-size: 9px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  div.header,
  .marketing,
  div.footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);

    .container {
      max-width: none;
    }
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}                               .input-error-container {
    position: absolute;
    z-index: 9999;
}

.navbar {
  background-color: transparent;
  border: 0px;
}

ng-message {
  position: absolute;

}

.bubble {
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  top: -11px;
  position: relative;
  z-index: 99999998;
}

.bubble-arrow {
    position: relative;
    margin-left: 60px;
}
.bubble-arrow:before {
    top: -18px;
    border-bottom-color: black !important;
}
.bubble-arrow:before, .bubble-arrow:after {
    content:"";
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    z-index: 99999998;
}

.bubble-arrow:after {
    top: -17px;
    margin-left: -20px;
}

.ng-invalid {
  border-color: red;
  border-style: dashed;
}


.modal-dialog {
  p {
    width: 90%;
    text-align: justify;
    margin-left: 5%;
  }
}

p.list {
  list-style:disc outside none;
  display:list-item;
}

.hidden {
  visiblity: hidden;
}

.alert {
  /* as in bootstrap-sass-official/assets/stylesheets/bootstrap/_alerts.scss */
  background-color: #d9ef7;
}

a * {
  cursor: pointer;
}

.footer p {
  margin: 0;
}

.modal-open .header {
  display: none;
}

.menu-handle {
  width: 4em;
  border: 1px solid #d4d4d4;
  border-top: 0px;
  margin: auto;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  margin-top: -1px;

}

.thumbs-bottom {
  .footer {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    right: 0px;
    text-align: center;
    width: 20px;
    padding-left: 10px;
    line-height: 0px;
    /* color: black; */
    //background-color: #d4d4d4;
    top: 50%;
  }
}


@import "../styles/gallery.scss";
@import "../styles/gallery-thumbs.scss";
@import "../styles/gallery-toolbar.scss";
@import "../styles/gallery-map.scss";
@import "../styles/gallery-earth.scss";
@import "../styles/gallery-viewer.scss";
//@import "../styles/rotate.scss";
@import "../styles/login.scss";
@import "../styles/upload.scss";
@import "../styles/browser.scss";
@import "../styles/segments.scss";
@import "../styles/viewer.scss";
@import "../styles/profile.scss";
@import "../styles/reset-password.scss";
@import "../styles/tos.scss";
@import "../styles/useful.scss";
@import "../styles/picture-set.scss";
@import "../styles/buttons.scss";
