#processing {
  margin-top: 64px;

  div.progress-wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -128px;
    height: 256px;
    background: black;
    border: solid 1px white;

    .message {
      position: relative;
      top: 20%;
      width: 100%;
      text-align: center;
    }

    .progress {
      position: relative;
      width: 80%;
      left: 10%;
      top: 50%;
      height: 1.5em;
      margin-top: -0.75em;
      border: 1px solid gray;
    }
    .progress-bar {
      height: 1.5em;
    }
    .progress-status {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 50%;
      height: 1.5em;
      margin-top: -0.75em;
      text-align: center;
      background-color: rgba(0,0,0,0.2);
      text-shadow: 2px 2px 1px black;

    }
  }

/*
  table.pictures {
    tbody td {
      display: flex;
      flex-wrap: wrap;

      div.picture {
        margin-right: 1em;
        margin-top: 1em;
      }
    }
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;

    div.picture {
      margin-right: 1em;
      margin-top: 1em;
    }

  }
*/
.pictures {

     button {
       position: fixed;
       top: 80px;
       right: 10px;
     }

     position: fixed;
     width: 100%;
     left: 0;
     top: 96px;
     bottom: 1em;
     background-color: black;
     z-index: 10001;
     overflow-y: auto;

     > div {
       width: 100%;
       left: 0;
       height: 100%;
       position: relative;
       padding: 1em;

       .picture-set {
         justify-content: center;
         display: flex;
         flex-wrap: wrap;
       }

       div.thumbs {
         width: 100%;
         a {
           border: 1px solid gray;
           margin-right: 0.5em;
           margin-top: 0.5em;
       }
     }
   }
 }


}
