div#resetPassword {
  margin-top: 64px;
  margin-left: 25%;
  width: 50%;
}

div#resetPassword label {
  padding-top:0.2em;
  font-weight:bold;
}

div#resetPassword button {
  margin-top: 1em;
  margin-bottom: 1em;
}

div#resetPassword input {
  width: 100%;
}

a.resetPassword {
  cursor: pointer;
}
