
#segments {
  .search-results-container {
    z-index: 1;
    overflow: hidden;
  }

  ui-layout-container {
    margin-bottom: 60px;
    margin-top: 64px;
    overflow: hidden;
  }


}


#segments ul {
    list-style: none;
    padding-left: 10px;
}

#segments ul ul {
    padding-left: 20px;
}

#segments span.selected {
  background: cyan;
}

#segments a * {
  cursor: pointer;
}

#segments a .fa-caret-right {
  width: 8px;
}

#segments a .fa-folder {
  width: 15px;
}

#segments div.details {
  float: left;
}

#segments div.details {
  padding: 10px;
}

#segments div.details > div,
#segments .segment-pictures,
#segments .segment-details {
  text-align: center;
}

#segments .thumb {
  background-size: cover;
  background-position: center;
  width: 192px;
  height: 120px;
  border: 1px solid transparent;


}
#segments .segment-details .thumb {
  margin: auto;
}

#segments picture {
  width: 192px;
  height: 120px;
  border: 1px solid transparent;
}

#segments .dragover {
  background-color: #bad;
}

#segments .dragging {
  opacity: 0.5;
}

segment-map {
  width: 256px;
  height: 192px;
}


segment-preview {
  height: 192px;
}

#segments .tree ul {
  white-space: nowrap;
}

#segments .tags-input-container {
  padding: 10px;
}
