
#segments {
  .search-results-container {
    z-index: 1;
    overflow: hidden;
  }

  ui-layout-container {
    overflow: hidden;
  }

  ui-layout-container.primary {
      margin-bottom: 60px;
      margin-top: 64px;

  }

}


#segments ul {
    list-style: none;
    padding-left: 10px;
}

#segments ul ul {
    padding-left: 20px;
}

#segments span.selected {
  background: cyan;
}

#segments a * {
  cursor: pointer;
}

#segments a .fa-caret-right {
  width: 8px;
}

#segments a .fa-folder {
  width: 15px;
}

#segments div.details {
  float: left;
}

#segments div.details {
  padding: 10px;
}

#segments .relatedSegments,
#segments .segment-pictures,
#segments .segment-details {
  text-align: center;
}

#segments .thumb {
  background-size: cover;
  background-position: center;
  width: 192px;
  height: 120px;


}
#segments .segment-details .thumb {
  margin: auto;
}

#segments picture {
  width: 192px;
  height: 120px;
}

#segments .dndDragover {
  background-color: #bad;
}

#segments .dndDragging {
  opacity: 0.5;
}

#segments .dndValidTarget {
  box-shadow: 1px 0px 1px 1px rosybrown;
}

#segment .dndDragover .dndValidTarget {
  background-color: #bad;
}

segment-map {
  width: 256px;
  height: 192px;
}


segment-preview {
  height: 192px;
}

#segments .tree ul {
  white-space: nowrap;
}

#segments .tags-input-container {
  padding: 10px;
}

.thumb.selected {
  border: 4px dashed yellow;
}

.togsgle {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 4px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}
