.segment-pictures {
  overflow: auto;

  /* hide instead of disabling because scrolling bug with flex */
  .mCSB_scrollTools_horizontal {
    visibility: hidden;
  }

  button {
    position: fixed;
    top: 80px;
    right: 10px;
  }

  position: fixed;
  width: 100%;
  left: 0;
  top: 96px;
  bottom: 1em;
  background-color: black;
  z-index: 10001;
  //     overflow-y: auto;

  > div {
    width: 100%;
    left: 0;
    height: 100%;
    position: relative;
    padding: 1em;

    .picture-set {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    div.thumbs {
      width: 100%;
      a {
        border: 1px solid gray;
        margin-right: 0.5em;
        margin-top: 0.5em;
      }
    }
  }

  .single-picture {
    padding: 0;
    object-fit: contain;
    > div {
      picture {
        height: 100%;
        width: 100%;
        > div {
          margin: -10px;
          height: 100%;
          width: 100%;
          object-fit: contain;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          > img {
            image-orientation: from-image;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }


  picture .thumb {
    opacity: 0;
    transition: opacity 1000ms;
  }

  picture .thumb.loaded {
    opacity: 1;
  }

  picture .thumb.loading:after {
    content: "\f110"; /* fa-spinner */
    font-family: FontAwesome;
    font-size:20px;
    line-height: 120px;
    position: absolute;
    top: 0;
    margin-left: -10px;

    /*
    background-image: url(/images/ajax-loader.gif);
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
    */
  animation: fa-spin 2s infinite linear;

}

  /*
  #gallery-thumbs segment-preview {
  background-image: url(/images/ajax-loader.gif);
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  }
  */


  picture .thumb.load-error {
    background-image: url(/images/ajax-load-error.gif);
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
  }
}
