[submodule "potree"]
	path = potree
	url = https://github.com/doxel/potree.git
[submodule "app/uploader"]
	path = app/uploader
	url = https://github.com/doxel/doxel-uploader.git
[submodule "viewer"]
	path = viewer
	url = https://github.com/doxel/doxel-viewer.git
