<div ng-controller="ClassifiersCtrl" id="classifiers">
  <tags-input ng-model="tags" add-on-paste="true">
    <auto-complete source="loadTags($query)"
                   min-length="0"
                   max-results-to-show="100"
                   add-from-autocomplete-only="true"
                   on-tag-added="tagAdded($tag)"
                   on-tag-removed="tagremoved($tag)"></auto-complete>
  </tags-input>
  <div class="content">
      <picture-set pictures="pictures"></picture-set>
  </div>
</div>

