<div id="home" ng-if="home_visible">
  <video playsinline autoplay muted loop poster="video.jpg" id="bgvid">
    <source src="video.webm" type="video/webm">
    <source src="video.mp4" type="video/mp4">
  </video>
	<div class="wrapper">
		<div class="about">
			<h2 class="text-center">ABOUT DOXEL</h2>

			<p class="text-justify">
			The tools we are using are backed by an active community working on Free Software in 3D&nbsp;reconstruction area, and all the software and the data we develop or we host is available under Open Licenses such as AGPL and CC&nbsp;BY-SA.
			</p>
      <div>
 <p><hr /></p>
			<p class="what text-center text-bold">
      Get 3D&nbsp;Reconstructions for FREE
      <br />
			<a ui-sref="upload"><button class="btn btn-success">Upload Photos</button></a>
    </p>

			<p class="what text-center text-bold">
      View Existing 3D Reconstructions
      <br />
      <a ui-sref="gallery.view.cloud"><button class="btn btn-info">Browse The Gallery</button></a>
			</p>
    </div>

		</div>
	</div>
</div>
