<div ng-show="thumbs_visible" id="gallery-thumbs">
  <div id="segments">
    <div ng-if="!thumbsVerticalScroll" class="segments horizontal" ng-scrollbars ng-scroll-to="scrollTo" ng-scrollbars-config="horizontalScrollConfig">
        <segment-set segments="segments"></segment-set>
    </div>
    <div ng-if="thumbsVerticalScroll" class="segments vertical" ng-scrollbars ng-scroll-to="scrollTo" ng-scrollbars-config="verticalScrollConfig">
        <segment-set segments="segments"></segment-set>
    </div>
  </div>
</div>
<search-tag ng-if="searchTag" search="searchTag"></search-tag>
<a><div class="thumbs-handle"><i class="fa fa-fw fa-bars"></i></div></a>
