<!--div ng-show="visible" id="gallery-toolbar">
  <div class="relative">
    <div><a ng-class="getClass('thumbs')"; class="button" ng-click="thumbs()"><div class="fa fa-fw fa-image"></div></a></div>
  </div>
  <div class="relative">
    <div><a ng-class="getClass('map')" class="button" ng-click="map()"> <div class="fa fa-fw fa-map-o"></div></a></div>
  </div>
  <div class="relative">
    <div><a ng-class="getClass('earth')" class="button" ng-click="earth()"> <div class="fa fa-fw fa-globe"></div> </a></div>
  </div>
  <div class="relative">
    <div><a ng-class="getClass('cloud')" class="button" ng-click="cloud()"> <div class="fa fa-fw fa-eye"></div> </a></div>
  </div>
</div-->
