<div class="job-set">
   <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover">
     <thead>
       <tr>
         <th>Job</th>
         <th>Type</th>
         <th>User</th>
         <th>Assigned</th>
         <th>Started</th>
         <th>Updated</th>
         <th>Completed</th>
         <th>Status</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="(index, job) in jobs" data-jobId="{{::job.id}}" ng-click="jobClick()($event)">
          <td>{{::job.id}}</td>
          <td>{{::job.type}}</td>
          <td><user user-id="job.userId"></user></td>
          <td>{{job.started?'':(job.assigned | fromNow)}}</td>
          <td>{{job.completed?'':(job.started | fromNow)}}</td>
          <td>{{job.completed?'':(job.progressed | fromNow) }}</td>
          <td>{{job.completed?(job.completed | date:'yyyy/MM/dd, HH:mm':'utc')+' in':''}} {{job.completed?(job.completed-job.started | duration):''}}</td>
          <td>{{::job.completion_status}}</td>
      </tr>
    </tbody>
    </table>
</div>
