<div id="authentication" ng-show="visible">

  <form name="loginForm" ng-submit="submit($event)" autocomplete="on" novalidate title="Fill the form then click Login or Register">
    <input type="hidden" name="fingerprint" id="fingerprint" ng-model="fingerprint">
    <input type="hidden" name="token" id="token" ng-model="token">

    <section class="main">
      <div class="field user">
        <input name="username" class="form-control" placeholder="Username" id="username" type="text" ng-model="username">
        <ng-messages for="loginForm.username.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
            <ng-message when="usernameExists" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.usernameExists.msg"></div></ng-message>
            <ng-message when="noUsername" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.noUsername.msg"></div></ng-message>
        </ng-messages>
      </div>

      <div class="field password">
        <input name="password" class="form-control" placeholder="Password" id="password" type="password" ng-model="password">
        <ng-messages for="loginForm.password.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
          <ng-message when="noPassword" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.noPassword.msg"></div></ng-message>
          <ng-message when="loginFailed" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.loginFailed.msg"></div></ng-message>
        </ng-messages>
      </div>

      <div class="field email">
        <input name="email" class="form-control" placeholder="Email" id="email" type="email" ng-model="email">
        <ng-messages for="loginForm.email.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
          <ng-message when="emailExists"  ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.emailExists.msg"></div></ng-message>
          <ng-message when="emailInvalid" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.emailInvalid.msg"></div></ng-message>
        </ng-messages>
      </div>

      <div style="text-align:center;">
        <button class="btn btn-primary raise login" title="Connect using the above credentials" ng-click="signin($event)" ng-disabled="!username.trim().length || !password.trim().length">Login</button>
        <button class="btn btn-success raise register" title="Register a new account using the above credentials" ng-click="signup($event)" ng-disabled="!(username.trim().length) || !password.trim().length || !email.trim().length">Register</button>
      </div>

      <div class="anonymous" style="text-align:center;">
        <button class="btn btn-success raise anonymous" title="Login as anonymous user" ng-click="signup($event)" ng-disabled="email.trim().length">Anonymous Login</button>
      </div>

    </section>

    <hr>
    <div class="hr" style="text-align:center;">
      <span id="or">Or login with</span>
    </div>

    <section class="social" style="text-align:center">
      <button class="btn btn-social-icon btn-facebook btn-lg" ng-click="facebook($event)" title="Login with Facebook">
        <span class="disable-selection fa fa-facebook"></span>
      </button>

      <button class="btn btn-social-icon btn-twitter btn-lg" ng-click="twitter($event)" title="Login with Tweeter">
        <span class="disable-selection fa fa-twitter"></span>
      </button>

      <button style="opacity: 0.3;" disabled class="btn btn-social-icon btn-google btn-lg" ng-click="google($event)" title="Login with Google">
        <span class="disable-selection fa fa-google"></span>
      </button>
    </section>


  <!--div class="reset-password">
    <a ng-click="resetPassword()" title="Enter email and click to reset password">Forgot your password ?</a>
  </div-->
</form>


</div>
