<div id="processing" ng-cloak scroll scroll-event="saveScrollTop">

  <div class="progress-wrap" ng-if="loading">
    <div class="message">Loading unprocessed segments info...</div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="{{_segments.length}}" aria-valuenow="{{loadingProgress}}" ng-style="progressStyle"></div>
      <div class="progress-status">{{loadingProgress+' / '+_segments.length}}</div>
    </div>
  </div>

  <div class="overlay" ng-if="showOverlay">
    <div class="message">Please wait...</div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar"></div>
    </div>
  </div>

  <table ng-show="$state.current.name=='processing' && !loading" st-table="segmentsVisible" st-persist="processingTable" st-safe-src="segmentsPool" class="table table-striped" align="center">
    <thead>
      <tr>
        <th>Preview</th>
        <th st-sort="created">Uploaded</th>
        <th st-sort="timestamp">Shooted</th>
        <th st-sort="_username">User</th>
        <th st-sort="picturesCount">Pictures</th>
        <th st-sort="status">Status</th>
        <th st-sort="status">Updated</th>
      </tr>
      <tr>
        <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in segmentsVisible">
        <td><segment-preview segment="row" segment-preview-class="thumb"></segment-preview></td>
        <td>{{row.created | date:'yyyy/MM/dd, HH:mm':'utc'}}</td>
        <td>{{row.timestamp_str}}</td>
        <td><userinfo user="row.user" /></td>
        <td>{{row.picturesCount}}</td>
        <td class="first-uppercase">{{row.status}}</td>
        <td>{{row.status_timestamp | fromNow }}</td>
        <td>
          <a ng-href="{{::'/app/#!/segment/'+row.id+'/job-config'}}">
            <button type="button" class="btn btn-sm btn-default" title="Edit post-processing config">
              <i class="fa fa-fw fa-cog">
              </i>
            </button>
          </a>
        </td>
        <td>
          <!--a ng-href="{{(row.jobs.length ? '/app/#!/segment/'+row.id+'/joblogs' : '')}}" ng-click="preventDefault($event)"-->
          <a ng-href="{{(row.jobs.length ? '/app/#!/segment/'+row.id+'/jobs' : '')}}">
            <button ng-disabled="!row.jobs.length" type="button" class="btn btn-sm btn-default" title="View processing history">
              <i class="fa fa-fw fa-history">
              </i>
            </button>
          </a>
        </td>
        <td>
          <a ng-href="{{::'/app/#!/segment/'+row.id+'/files'}}">
            <button type="button" class="btn btn-sm btn-default" title="View segment files">
              <i class="fa fa-fw fa-folder-o">
              </i>
            </button>
          </a>
        </td>
        <td>
          <a ng-href="{{::'/app/#!/segment/'+row.id+'/pictures'}}">
            <button type="button" class="btn btn-sm btn-default" title="View segment pictures">
              <i class="fa fa-fw fa-picture-o">
              </i>
            </button>
          </a>
        </td>
        <td>
          <a ng-href="{{::(row.pointCloudId ? '/api/segments/viewer/'+row.id+'/'+row.timestamp+'/viewer.html' : '')}}" target="_blank">
            <button ng-disabled="!row.pointCloudId" type="button" class="btn btn-sm btn-default" title="Preview pointcloud">
              <i class="fa fa-fw fa-eye">
              </i>
            </button>
          </a>
        </td>
        <td>
          <button ng-disabled="isBackwardButtonDisabled(row)" type="button" ng-click="cancel(row)" class="btn btn-sm btn-default" ng-attr-title="{{backwardButtonTitle(row)}}">
            <i class="fa fa-fw fa-arrow-left">
            </i>
          </button>
        </td>
        <td>
          <button ng-disabled="isForwardButtonDisabled(row)" type="button" ng-click="proceedFurther(row)" class="btn btn-sm btn-default" ng-attr-title="{{forwardButtonTitle(row)}}">
            <i class="fa fa-fw fa-arrow-right">
            </i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-center">
          <div st-template="/views/pagination.html" st-pagination="" st-items-by-page="itemsByPage"></div>
        </td>
      </tr>
    </tfoot>

  </table>

  <div ui-view></div>

</div>
