<div id="resetPassword" ng-show="visible">

  <form name="resetPasswordForm" ng-submit="submit($event)" autocomplete="off" novalidate>

    <section class="main">
      <fieldset>
        <label for="newpassword">New Password</label>
        <div class="field newpassword">
          <input name="newpassword" class="form-control" placeholder="Enter a new password" id="newpassword" type="password" ng-model="newpassword">
          <ng-messages for="resetPasswordForm.newpassword.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
            <ng-message when="noPassword" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.noPassword.msg"></div></ng-message>
            <ng-message when="invalidPassword" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.invalidPassword.msg"></div></ng-message>
          </ng-messages>
        </div>

        <label for="confirmpassword">Confirm Password</label>
        <div class="field confirmpassword">
          <input name="confirmpassword" class="form-control" placeholder="Enter the password again" id="confirmpassword" type="password" ng-model="confirmpassword">
          <ng-messages for="resetPasswordForm.confirmpassword.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
            <ng-message when="noPassword2" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.noPassword.msg"></div></ng-message>
            <ng-message when="passwordsDontMatch" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.passwordsDontMatch.msg"></div></ng-message>
        </ng-messages>
        </div>

        <div style="text-align:center;">
          <button class="btn btn-primary raise resetPassword" ng-click="changePassword($event)">Change Password</button>
        </div>
      </fieldset>
    </section>

  </form>

</div>
