<div id="resetPassword" ng-show="visible">

  <form name="resetPasswordForm" ng-submit="submit($event)" autocomplete="off" novalidate>

    <section class="main">
      <fieldset>
        <label for="password">New Password</label>
        <div class="field password">
          <input name="newpass" class="form-control" placeholder="Enter a new password" id="newpass" type="password" ng-model="newPassword">
          <ng-messages for="resetPasswordForm.password.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
            <ng-message when="noPassword" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.noPassword.msg"></div></ng-message>
            <ng-message when="invalidPassword" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.invalidPassword.msg"></div></ng-message>
          </ng-messages>
        </div>

        <label for="confirmPassword">Confirm Password</label>
        <div class="field confirmPassword">
          <input name="conpass" class="form-control" placeholder="Enter the password again" id="conpass" type="password" ng-model="confirmPassword">
          <ng-messages for="resetPasswordForm.confirmPassword.$error" role="alert" class="disable-selection" ng-hide="hideMessages">
            <ng-message when="noPassword" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind="error.noPassword.msg"></div></ng-message>
            <ng-message when="passwordsDontMatch" ng-show="resetPasswordForm.$submitted" ng-cloak><div class="bubble-arrow"></div><div class="bubble" ng-bind-html="error.passwordsDontMatch.msg"></div></ng-message>
        </ng-messages>
        </div>

        <div style="text-align:center;">
          <button class="btn btn-primary raise resetPassword" ng-click="resetPassword($event)">Reset Password</button>
        </div>
      </fieldset>
    </section>

  </form>

</div>
