
<div class="view" id="segments" ng-cloak>



  <div  ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}" class="search-results-container" ui-layout="{flow: 'column', disableToggle: true, dividerSize: 10, ctrl: 'uiLayout'}" ui-layout-loaded>

    <!--ui-layout-container class="primary" size="256px" collapsed="layout.tags.collapsed">
      <toggle />
      <div ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
      <div class="tags-input-container">
          <tags-input ng-model="tags">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
      </div>
    </div>
  </ui-layout-container-->

    <ui-layout-container class="primary" collapsed="layout.tree.collapsed">
      <toggle />
      <div ng-if="viewMode=='tree'" ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <div class="tree ui-layout-resize" >
          <ul class="year">
            <li ng-repeat="(year, month) in tree">
              <a ng-click="toggle($event,year)">
                <i ng-class="expanded[year] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                <i ng-class="expanded[year] ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                <span ng-class="selected[year] ? 'selected' : ''">{{year}}</span>
              </a>
              <ul class="month" ng-if="expanded[year]">
                <li ng-repeat="(month, day) in tree[year]" ng-init="ym=year+month; ym2=year+'.'+month">
                  <a ng-click="toggle($event,ym2)">
                    <i ng-class="expanded[ym] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                    <i ng-class="expanded[ym] ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                    <span ng-class="selected[ym2] ? 'selected' : ''">{{month}}</span>
                  </a>
                  <ul class="day" ng-if="expanded[ym]">
                    <li ng-repeat="(day, timestamp) in tree[year][month]" ng-init="ymd=ym+day; ymd2=ym2+'.'+day">
                      <a ng-click="toggle($event,ymd2)">
                        <i ng-class="expanded[ymd] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                        <i ng-class="expanded[ymd] ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                        <span ng-class="selected[ymd2] ? 'selected' : ''">{{day}}<span>
                      </a>
                      <ul class="timestamp" ng-if="expanded[ymd]">
                        <li ng-repeat="(timestamp, segmentId) in tree[year][month][day]" ng-init="ymdt=ymd+timestamp; ymdt2=ymd2+'.'+timestamp">
                          <a ng-click="toggle($event,ymdt2)">
                            <i ng-class="expanded[ymdt] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                            <i ng-class="expanded[ymdt] ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                            <span ng-class="selected[ymdt2] ? 'selected' : ''">{{timestamp | formatTimestamp : 'hms'}}</span>
                          </a>
                          <ul class="segmentId" ng-if="expanded[ymdt]">
                            <li ng-repeat="(segmentId, segment) in tree[year][month][day][timestamp]" ng-init="ymdts=ymdt+segmentId; ymdts2=ymdt2+'.'+segmentId" class="dnd-target dropsegment droppicture">
                              <a ng-click="toggle($event,ymdts2)">
                                <i ng-class="expanded[ymdts] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                                <div dnd dnd-debug="true" dnd-targets=".dropsegment">
                                  <i ng-class="expanded[ymdts] ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                                  <span ng-class="selected[ymdts2] ? 'selected' : ''">{{segmentId}}</span>
                                </div>
                              </a>
                              <ul class="picture" ng-if="expanded[ymdts]" ng-init="segment=tree[year][month][day][timestamp][segmentId]";>
                                <li ng-repeat="(index, picture) in segment.pictures" ng-init="ymdtsp=ymdts+picture.id; ymdtsp2=ymdts2+'.'+picture.id">
                                  <a ng-click="toggle($event,ymdtsp2,index)" dnd dnd-debug="true" dnd-targets=".droppicture" dnd-droppable="false">
                                    <!--i ng-class="expanded[year+month+day+timestamp+segmentId+picture.id] ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i-->
                                    <i class="fa"></i>
                                    <i class="fa fa-file-image-o"></i>
                                    <span ng-class="selected[ymdtsp2] ? 'selected' : ''">{{picture.timestamp | formatTimestamp : 'hms'}}</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div ng-if="viewMode=='list'"  ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-bordered table-striped">
          <col width="30%"></col>
          <col width="70%"></col>
          <tr class="ng-table-group" ng-repeat-start="group in $groups" ng-init="group.$show=false">
            <td colspan="2">
              <a ng-click="group.$show = !group.$show">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': !group.$show, 'glyphicon-chevron-down': group.$show }"></span>
                <strong>{{ group.value + (group.data.length>1?' (' + group.data.length + ')':'') }}</strong>
              </a>
            </td>
          </tr>

          <!--tr ng-controller="SegmentsCtrl" ng-if="group.$show" ng-repeat="segment in group.data" ng-repeat-end ondragstart="segmentsCtrl._dragstart(event)" ondragend="segmentsCtrl.dragend(event)" ondragover="segmentsCtrl._dragover(event)" ondragenter="segmentsCtrl.dragenter(event)" ondragLeave="segmentsCtrl.dragleave(event)" ondrop="segmentsCtrl.ondrop(event)" draggable="true"-->
          <tr ng-if="group.$show" ng-repeat="segment in group.data" ng-repeat-end dnd="true">
          <td data-title="'Date'" groupable="'_timestamp'" filter="{ '_timestamp': 'text' }" sortable="'timestamp'"  segment-preview="segment" segment-preview-class="thumb"></td>
            <td data-title="'Details'"><segment-details segment="segment" /></td>
          </tr>
        </table>
      </div>

    </ui-layout-container>

    <!--ui-layout-container class="primary" collapsed="layout.secondary.collapsed">
      <div ui-layout="{flow: 'row', disableToggle: true}" ui-layout-loaded style="overflow: hidden">
      </div>

    </ui-layout-container-->
    <ui-layout-container size="192px" min-size="192px" class="primary relatedSegments" collapsed="layout.relatedSegments.collapsed">
      <div ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <div>
          <segment-set class="ui-layout-resize" segments="relatedSegments" ></segment-set >
        </div>
      </div>
    </ui-layout-container>

    <ui-layout-container size="256px" min-size="256px" class="primary" collapsed="layout.segmentDetails.collapsed">
      <div ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <div>
          <segment-details segment="segment"></segment-details>
        </div>
      </div>
    </ui-layout-container>

    <ui-layout-container class="primary" min-size="192px" collapsed="layout.pictures.collapsed">
      <div ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <div>
          <picture-set class="segment-pictures" pictures="segment.pictures" ></picture-set>
        </div>
      </div>
    </ui-layout-container>

    <ui-layout-container class="primary" min-size="256px" collapsed="layout.segmentDetails.collapsed">
      <div ng-nicescroll nice-option="{nativeparentscrolling: false, autohidemode: true}">
        <div>
          <picture ng-if="view=='picture' && picture.segmentId==segment.id" picture="picture" picture-class="thumb" picture-onload="imgloaded($event)"></picture>
        </div>
      </div>
    </ui-layout-container>

  </div>

</div>
