<span ng-if="dndEnable" ng-repeat="(index, segment) in segments">
  <a class="dnd-target dropsegment droppicture" data-sid="{{segment.id}}" data-index="{{index}}" ng-click="click($event)" dnd dnd-targets=".dropsegment">
    <segment-preview segment="segment" segment-preview-class="thumb"></segment-preview>
    <div class="date">{{segment.timestamp | formatTimestamp}}</div>
  </a>
</span>
<span ng-if="segment.pointCloud.poseCount || segment.poinCloud().poseCount" ng-if="!dndEnable" ng-repeat="(index, segment) in segments">
  <a data-sid="{{segment.id}}" data-index="{{index}}" ng-click="click($event)">
    <segment-preview segment="segment" segment-preview-class="thumb"></segment-preview>
    <div class="date">{{segment.timestamp | formatTimestamp}}</div>
    <div class="points"><i class="fa fa-cloud fa-fw"></i>{{segment.pointCloud.pointCount | humanize}}</div>
    <div ng-if="segment.pointCloud.poseCount!=segment.pointCloud.viewCount" class="poses"><i class="fa fa-camera fa-fw"></i>{{segment.pointCloud.poseCount}}/{{segment.pointCloud.viewCount}}</div>
    <div ng-if="segment.pointCloud.poseCount==segment.pointCloud.viewCount" class="poses"><i class="fa fa-camera fa-fw"></i>{{segment.pointCloud.poseCount}}</div>
  </a>
</span>
